@import './fonts.css';
@import './tailwind.css';
@import './custom-utilities.css';

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply transition-colors rounded-full;
}

/* a {
  @apply cursor-none;
}
 */
body::before {
  content: '';
  position: absolute;
  inset: 0px;
  z-index: -100;
  background-image: url('../assets/images/header-bg.png');
  background-repeat: no-repeat;
  background-position:
    center top,
    center bottom;
  background-size: 1400px;
}

html {
  scroll-behavior: smooth;
}
