@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: 330 0% 95.1%;
  --foreground: 30 0% 18.400000000000006%;
  --card: 334.3 0% 88.8%;
  --card-foreground: 30 0% 18.400000000000006%;
  --popover: 342.9 0% 69.8%;
  --popover-foreground: 338.2 0% 10%;
  --primary: 13.8 62.900000000000006% 43.3%;
  --primary-foreground: 338.2 0% 10%;
  --secondary: 342.9 0% 69.8%;
  --secondary-foreground: 338.2 0% 10%;
  --muted: 330 0% 85.1%;
  --muted-foreground: 334.3 0% 57.8%;
  --accent: 330 0% 95.1%;
  --accent-foreground: 30 0% 18.400000000000006%;
  --destructive: 357.2 100% 29%;
  --destructive-foreground: 0 0% 90%;
  --border: 342.9 0% 69.8%;
  --input: 342.9 0% 69.8%;
  --ring: 13.8 62.900000000000006% 43.3%;
  --radius: 0.5rem;
  --chart-1: 13.8 62.900000000000006% 80%;
  --chart-2: 342.9 0% 60.2%;
  --chart-3: 330 0% 44.9%;
  --chart-4: 330 0% 54.9%;
  --chart-5: 13.8 62.900000000000006% 80%;
  --sidebar-background: 0 0% 92%;
  --sidebar-foreground: 0 0% 38%;
  --sidebar-primary: 14 63% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 0 0% 75%;
  --sidebar-accent-foreground: 30 0% 18.400000000000006%;
  --sidebar-border: 0 0% 67%;
  --sidebar-ring: 14 63% 40%;
}

.dark {
  --background: 330 0% 14.9%;
  --foreground: 30 2.1% 81.6%;
  --card: 334.3 0% 12.2%;
  --card-foreground: 30 2.1% 81.6%;
  --popover: 342.9 0% 30.2%;
  --popover-foreground: 338.2 0% 100%;
  --primary: 13.8 72.9% 56.7%;
  --primary-foreground: 338.2 0% 100%;
  --secondary: 342.9 0% 30.2%;
  --secondary-foreground: 338.2 0% 100%;
  --muted: 330 0% 14.9%;
  --muted-foreground: 334.3 0% 42.2%;
  --accent: 330 0% 14.9%;
  --accent-foreground: 30 2.1% 81.6%;
  --destructive: 357.2 125.9% 71%;
  --destructive-foreground: 0 0% 0%;
  --border: 342.9 0% 30.2%;
  --input: 342.9 0% 30.2%;
  --ring: 13.8 72.9% 56.7%;
  --radius: 0.5rem;
  --chart-1: 13.8 72.9% 56.7%;
  --chart-2: 342.9 0% 30.2%;
  --chart-3: 330 0% 14.9%;
  --chart-4: 330 0% 24.9%;
  --chart-5: 13.8 72.9% 66.7%;
  --sidebar-background: 0 0% 7%;
  --sidebar-foreground: 30 2% 56%;
  --sidebar-primary: 14 73% 49%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 0 0% 25%;
  --sidebar-accent-foreground: 30 2.1% 81.6%;
  --sidebar-border: 0 0% 22%;
  --sidebar-ring: 14 73% 49%;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
