@reference "tailwindcss";

.glowing-button {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.glowing-button:active {
  transform: scale(0.97);
}

.glowing-button__outline {
  @apply bg-blend-luminosity backdrop-blur-xs border shadow;
  background-color: var(--nav-background) !important;
}

.luminosity-text {
  @apply opacity-90 drop-shadow-md dark:drop-shadow-white/40 drop-shadow-black/40 capitalize;
}
